* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  margin-block: 1rem;
  border-radius: 0.5rem;
  background: transparent;
}


::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 0.5rem;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.5s;
}

::-webkit-scrollbar-thumb:hover{
  background: #00000070;
}

::-webkit-scrollbar-thumb:active{
  background: #00000025;
}
